body, .characters_img {
    background-color: #25ba3b;
}

.characters_img, .input_quote_old {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_quote, .input_quote_old, .input_character, .input_random {
    text-align: center;
}

.predicted_character_img, .comparison_character_img,
.predicted_character_contributions, .actual_character_contributions,
.predicted_character_strengths, .actual_character_strengths,
.predicted_wordcloud_img, .comparison_wordcloud_img {
  float: left;
  margin: 10px;
}

.predicted_character_contributions img, .actual_character_contributions img,
.predicted_character_strengths img, .actual_character_strengths img {
  max-width: 650px;
}

h4, h3, .start_over {
  clear: both;
}

.start_over {
  width: 100px;
  height: 40px;
  background-color: red;
  color: white;
  text-transform: uppercase;
  margin: 30px 0;
}
