.characters_img {
    background-color: #25ba3b;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #25ba3b;
}

.input_quote_old {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.input_quote {
    text-align: center;
}

.input_character {
    text-align: center;
}

.input_random {
    text-align: center;
}

.character_image_comparison {
    display: inline-block;
}

form {
    display: inline-block;
}
